{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

      place order page
{% endblock %}
{% block title %}

      orlandoshop
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center">
            Your Shopping Cart is empty
        </h1>
        <br>
        <p class="text-center">
            please click <a href="{% url 'shopapp:allproduct' %}">to continue shopping</a>
        </p>

    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center" id="head">your shopping cart</h1>
        <br>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table mytable">
                <thead class="my_custom_thead">
                <tr>
                    <th colspan="4">your item</th>
                </tr>
                </thead>
                <tbody>
                 {% for cart_item in cart_items %}
                  <tr>
                      <td>
                          <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" class="float-left" style="width:150px"></a>
                      </td>
                      <td  class="text">
                          {{cart_item.product.name}}
                          <br>
                          sku: {{cart_item.product.id}}
                          <br>
                           Price:${{cart_item.product.price}}
                          <br>
                           Qty:{{cart_item.quantity}} x  {{cart_item}}
                      </td>
                      <td class="text">
                           ${{cart_item.sub_total}}
                      </td>

                      {% if cart_item.quantity < cart_item.product.stock %}
                      <td>

                              <a href="{% url 'cart:add_cart' cart_item.product.id  %}"><i class="fa fa-plus"></i></a><br>
                             &nbsp;&nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id  %}"><i class="fa fa-minus"></i></a><br>
                             &nbsp;&nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id  %}"><i class="fa fa-trash"></i></a>
                      </td>
                      {% else %}
                      <td>
                           <a href="{% url 'cart:cart_remove' cart_item.product.id %}" ><i class="fa fa-minus"></i></a><br>
                           &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" ><i class="fa fa-trash"></i></a>
                      </td>
                      {% endif %}
                  </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table">
                <thead class="my_custom_thead">
                <tr>
                    <th >check out</th>
                </tr>
                </thead>
                <tbody>

                  <tr>
                      <td class="text">
                         please review your items,before proceeding with payment..
                      </td>


                  </tr>
                <tr>
                    <td class="text">your total is:<strong>{{total}}</strong></td>
                </tr>
                </tbody>

            </table>
             <div class="text">
                 <a href="{% url 'shopapp:allproduct' %}" class="btn btn-warning text" >continue shopping...</a>
             </div>

        {% endif %}
         </div>
    </div>

</div>

{% endblock %}