{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

      {{product.description|truncatewords:155}}
{% endblock %}
{% block title %}

      {{product.name}}
{% endblock %}
{% block content %}
<div class="row pro_row">
   <div class="mx-auto">
    <p><a href="{% url 'shopapp:allproduct' %}">home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>|<a>{{product.name}}</a></p>
   </div>
<br>
<div class="container">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div style="width:18rem">
              <a href="{{product.get_url}}"></a><img src="{{product.image.url}}">
            </div>
        </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6">

        <h2 class="pro_name">{{product.name}}</h2>

        <p class="pro_des">{{product.description}}</p>
         <p>{{product.price}}</p>
        {% if product.stock <= 0 %}
        <b>out of stock</b>
        {% else %}
        <a class="btn btn-warning" href="{% url 'cart:add_cart' product.id %}">add to cart</a>
        {% endif %}

</div>
    </div>
</div>


</div>
{% endblock %}