{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

      welcome
{% endblock %}
{% block title %}
 search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_text">you have searched for :<b>"{{query}}"</b></p>
     <div class="row mx-auto">

      {% for pro in product %}
       <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
        <div class="card text-center" style="width:18rem;">
            <a href="{{pro.get_url}}"><img class="card-img-top" src="{{pro.image.url}}" width="150px"></a>
        <div class="card-body">
           <h2 class="card-title">{{pro.name}}</h2>
            <p>{{pro.price}}</p>
        </div>
        </div>
        </div>
         {% empty %}
         <div class="text-center">
             <p>0 result found</p>

         </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

